/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


body{
  background: #000;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


.red{
  background: #F00;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


.blue{
  background: #00F;
}





body{
  background: #000;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


body{
  background: #000;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


.red{
  background: #F00;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */


.blue{
  background: #00F;
}





body{
  background: #000;
}


/* ---------------------------------------- *\
 *    COLORS
 * ---------------------------------------- */